:root {
  --color-clouds: #ecf0f1;
  --color-silver: #bdc3c7;
  --color-asbestos: #7f8c8d;
  --color-wet-asphalt: #34495e;
}

* {
  margin: 0;
  padding: 0;
}

*, *::before, *::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  background-color: var(--color-wet-asphalt);
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  min-height: 100vh;
  background-color: var(--color-wet-asphalt);
}

.welcome {
  max-width: 80rem;
  display: block;
  margin: 0 auto;
}

.app-logo {
  animation: app-logo-spin infinite 20s linear;
  height: 80px;
}

.app-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.app-title {
  font-size: 1.5em;
}

.app-intro {
  font-size: large;
}

@keyframes app-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.jumbotron {
  padding: 3rem;
  margin: 0;
  background-color: var(--color-clouds);
}

.heading-primary {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 2rem;
}

.heading-primary--main {
  display: block;
  font-size: 6rem;
  font-weight: 400;
  letter-spacing: 3.5rem;
}

.heading-primary--sub {
  display: block;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1rem;
  margin-top: 2rem;
}

.status-bar {
  text-align: center;
}

.status-bar__indicator {
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}

.indicator {
  font-weight: 400;
  font-size: 1em;
  margin: 8px 0;

  display: flex;
  flex: 0 0 60%;
  justify-content: center;
}

.indicator__label {
  color: var(--color-asbestos);
  font-weight: inherit;
  font-size: inherit;
}

.indicator > span:not(:last-child) {
  padding-right: 8px;
}

.badge {
  font-size: inherit;
  font-weight: inherit;
  padding: 4px 16px;
  width: 100%;
}

.footer {
  background-color: var(--color-wet-asphalt);
}

.footer p {
  padding: 0;
  margin: 0;
}

.footer span {
  color: #fff;
  display: block;
}

.footer--main {
  font-size: 1.3rem;
  font-weight: 600;
}

.footer--sub {
  font-size: 1.1rem;
  font-weight: 500;
}

@media only screen and (max-width: 770px) {
  .heading-primary--main {
    font-size: 5rem;
    letter-spacing: 2.5rem;
  }

  .heading-primary--sub {
    font-size: 1.5rem;
    letter-spacing: 1rem;
  }
}

@media only screen and (max-width: 568px) {
  .heading-primary--main {
    font-size: 3rem;
    letter-spacing: 1.5rem;
  }

  .heading-primary--sub {
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: .5rem;
  }
}

@media only screen and (max-width: 395px) {
  .indicator {
    flex-direction: column;
  }

  .indicator > span:not(:last-child) {
    padding: 0;
  }
}
