:root {
  --color-clouds: #ecf0f1;
  --color-silver: #bdc3c7;
  --color-asbestos: #7f8c8d;
  --color-wet-asphalt: #34495e;
  --color-pomegrante: #c0392b;
  --color-nephritis: #27ae60;
}

* {
  margin: 0;
  padding: 0;
}

*, *::before, *::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  background-color: var(--color-wet-asphalt);
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  min-height: 100vh;
  background-color: var(--color-wet-asphalt);
}

a {
  color: #fff;
}

.welcome {
  max-width: 80rem;
  display: block;
  margin: 0 auto;
  padding-top: 10rem;
  padding-bottom: 5rem;
}

.driver {
  max-width: 80rem;
  display: block;
  margin: 0 auto;
}

.buyer {
  max-width: 80rem;
  display: block;
  margin: 0 auto;
}

.header {
  min-height: 6rem;
  max-width: 80rem;
  margin: 0 auto;

  display: flex;
}

.navbar {
  margin-left: auto;
  margin-right: 3rem;
  padding: 0;

  display: flex;
  justify-content: flex-end;
}

.app-logo {
  animation: app-logo-spin infinite 20s linear;
  height: 80px;
}

.app-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.app-title {
  font-size: 1.5em;
}

.app-intro {
  font-size: large;
}

@keyframes app-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.jumbotron {
  padding: 3rem;
  margin: 0;
  background-color: var(--color-clouds);
}

.btn {
  font-size: 1.3rem;
}

.btn-danger {
  background-color: var(--color-pomegrante);
  border-color: var(--color-pomegrante);
}

.btn-success {
  background-color: var(--color-nephritis);
  border-color: var(--color-nephritis);
}

.heading-primary {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 2rem;
}

.heading-primary--main {
  display: block;
  font-size: 6rem;
  font-weight: 400;
  letter-spacing: 3.5rem;
}

.heading-primary--sub {
  display: block;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1rem;
  margin-top: 2rem;
}

.status-bar {
  text-align: center;
}

.status-bar__title {
  text-align: left;
  padding: 0;
}

.status-bar__indicator {
  display: flex;
  justify-content: left;
  margin: 0;
  padding: 0;
}

.indicator {
  font-weight: 400;
  font-size: 1.3rem;
  margin: 8px 0;

  display: flex;
  flex: 0 0 60%;
  justify-content: center;
}

.indicator__label {
  color: var(--color-asbestos);
  font-weight: inherit;
  font-size: inherit;
  margin: 0.5rem auto;

  display: flex;
  justify-content: space-between;
  flex: 1 0 30%;
}

.indicator > span:not(:last-child) {
  padding-right: 8px;
}

.badge {
  font-size: inherit;
  font-weight: inherit;
  margin: 0 auto;

  display: flex;
  flex: 1 0 30%;
  align-content: center;
  align-items: center;
}

.badge-danger {
  background-color: var(--color-pomegrante);
}

.footer {
  background-color: var(--color-wet-asphalt);
}

.footer p {
  padding: 0;
  margin: 0;
}

.footer span {
  color: #fff;
  display: block;
}

.footer--main {
  font-size: 1.3rem;
  font-weight: 600;
}

.footer--sub {
  font-size: 1.1rem;
  font-weight: 500;
}

.loader {
  min-height: 100vh;
  color: var(--color-clouds);

  display: flex;
  flex: 0 0 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.loader > h3 {
  display: block;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1rem;
  margin: 2rem;
}

.alert {
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 0.2rem;
}

@media only screen and (max-width: 768px) {
  .heading-primary--main {
    font-size: 5rem;
    letter-spacing: 2.5rem;
  }

  .heading-primary--sub {
    font-size: 1.5rem;
    letter-spacing: 1rem;
  }
}

@media only screen and (max-width: 568px) {
  .heading-primary--main {
    font-size: 3rem;
    letter-spacing: 1.5rem;
  }

  .heading-primary--sub {
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: .5rem;
  }

  .status-bar__title {
    text-align: center;
  }

  .status-bar__indicator {
    justify-content: space-around;
  }

  .alert {
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
    text-align: center;
  }
}

@media only screen and (max-width: 395px) {
  .indicator {
    flex-direction: column;
  }

  .indicator > span:not(:last-child) {
    padding: 0;
  }
}
