:root {
  --color-clouds: ##ecf0f1;
  --color-asbestos: #7f8c8d;
}

* {
  margin: 0;
  padding: 0;
}

*, *::before, *::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  min-height: 100vh;
}

.app {
  text-align: center;
}

.app-logo {
  animation: app-logo-spin infinite 20s linear;
  height: 80px;
}

.app-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.app-title {
  font-size: 1.5em;
}

.app-intro {
  font-size: large;
}

@keyframes app-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.status-bar__indicator {
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}

.indicator {
  font-weight: 400;
  font-size: 1em;
  margin: 8px 0;

  display: flex;
  flex: 0 0 60%;
  justify-content: center;
}

.indicator__label {
  color: var(--color-asbestos);
  font-weight: inherit;
  font-size: inherit;
}

.indicator > span:not(:last-child) {
  padding-right: 8px;
}

.badge {
  font-size: inherit;
  font-weight: inherit;
  padding: 4px 16px;
  width: 100%;
}

@media only screen and (max-width: 395px) {
  .indicator {
    flex-direction: column;
  }

  .indicator > span:not(:last-child) {
    padding: 0;
  }
}
